sudo: required

services:
    - docker

script:
    - docker build -t odarbelaeze/quotes-ui:$TRAVIS_COMMIT .
    - docker images

deploy:
    provider: script
    script: bash ci/docker_push.sh
    on:
      branch: master
      repo: odarbelaeze/infra-quotes-ui

after_deploy:
    - bash ci/ship-it.sh

env:
    global:
        - secure: F9SnPCUfYJmP/1I9iQcPNU/jmhW/hlmRm+64yIn+Sjiv5CKGy9LNZn2lvG1GBIhfGsepRqPvtXmOg26SWPs+oBvVn9U37kVzbI0FXNNZLFqvVmjbWaxnDsLIcI/LOo3HGQ2Aw/wkvQwbraNd56QqVee/k7iob5Qoki49GcVJHqS+RezGqYX90A9MOWnrAZ+EOGN+33ePXS7XuSpMrvJOwzIbQqv3Dsn2RZhR94HcG2q75gpTZUpbcN+GRbOyo5LtUfe/Tn+qrFECXzBvt+eXrcC1UMmS///dhB0m8BMhmk/DGZXIFY6jKQXwwb/bkMm5RkOFKuXTJdHbxaDAYBw9oTMkeIYI8SMCYORVntaip5fLiNiB3Yjv+XjcpSEFV9pDnI5kRcFfonZjqDwUm9Q4Wz0RWmxFAI9nRuYMr+X4LaCJwbMSb+Vpcc0m/HbbgbNVA8a/LFYq3koMB4fiv+qW8HG5FiSmaObmV9/NRvxRbjKkB167i57tQ7K8Vz6VeLxMgPci2nQxmQKSfaNXHAfWO6bhif2qNnQkFucOOQa63nff53Z2OGLHMmWLqt/YLkDbNMS9/DmZIeIshaDLvEZGRtWWW/F2BEqGVFQ+lBzg9bPZgxhWDMYkaA3M+np2W8mX3apjdkI7+7AJxdGUpMVJYf/8z5SUZ+v9wJM9bUu0By4=
        - secure: Dxqc8HLl5GFga3qFl0gtAwFpfO79LF9ZbqeUaTyvREB5nQ2LdMzemyHS0E8b2IgcFwnCgQV+QPrZqOFfYam0SqNDCCrIvQ2fAhSD9RKaui/DDs/JcriHaCjREHNHfSg3Mof1Idu9DcYOdvpkRpqK29eHAGzgOPZQI6rAvu6tvshD4JJ3KSDZx0TLM/otNXU5ZEPYFQ+gC1eccpAxQ/sXNm8RIlPMdFEBgIVwAabiTMI52buzskCrXElIyBlqdijAzg5V7UQg/Kx9pF3TlHNBVeKUw0hKRnJC5gBSS/4H+sOq/31KQ7MnT6FqcfkQNXVq2oJZMtaaFQ9ahh31vPGGFwZ3xN2r601OJHXsEC5AY/WnJumlJLZF4pIvlpUirrIPpTCoJxwkfPeILfcJ4mwQ+DIHjR1PaN0q7+FrbXJjjx/KTscRnZyW3lyUD9FuQ1CIyNX0VjRhGjm920Fbf/tya4deLbD2FI2bqiBrf8eG5fvRZMMu4Q0pBHG3Q2bgdLWntIlQ3VcWZLbF+xO3FQDJCsYE0yqeb243O4KI5GIWm2rhDRfxqSWsHxo+aKTJcGXapTuVy3BTV9W6Upgp6q8aDX5VbVxzOlXdBDULY/3ETD+ohAqXrQSXqrJZAznby8HhMlj6nTIePRXwA+9R5zIeQKnKes9PlSMqhKJoAbWLswI=
